<h1>Enter Splits</h1>
  <form action="/splits" method="POST">
    <input type="text" name="split[distance]" placeholder="Distance" />
    <input type="text" name="split[time]" placeholder="Time" />
    <input type="submit" value="Enter Splits" />
  </form>
